<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="stylesheets/estilos.css">
    <script src="main.js"></script>

    <link rel="Shortcut Icon" href="images/logos/favicon-16x16.png" type="image/x-icon" />
    <link rel="shortcut icon" href="images/logos/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>John Mendoza</h1>
            <p>Estudiante de Ingeniería Industrial en la <a href="http://www.uni.edu.pe" target="_blank">Universidad Nacional de Ingeniería</a>.</p>
            <b>{</b> Experiencias de la Universidad, Observaciones e Investigaciones <b>}</b>
        </div>

        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="ensayos">Ensayos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="libros">Libros Recomendados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="experiencias">Experiencias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="investigaciones">Investigaciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="clases">Clases Interesantes</a>
                </li>
            </ul>
        </nav>

        <br>
        <div class="parrafo">
            <div class="jumbotron">
                   <h3>{{titulo}}</h3>
                   <b>John Mendoza. -julio, 2018</b>
                   <p>Hoy domingo, 22 de julio de 2018, asistí a la iglesia cristiana Agua Viva -no es la primera vez que asisto, sino que vengo 
                       haciéndolo de vez en cuando-, aún no he decidido asitir de forma constante o regular, ya que las decisiones que he 
                       venido tomando tal vez no han sido las acertadas y casi siempre he puesto excusas para no hacerlo. </p>

                    <p>Hoy el Pastor o líder de la iglesia predicó acerca de un tema muy interesante y le será útil si lo pone en 
                           práctica en su vida diaria y en la toma de decisiones importantes! No quiere decir que no sirva para las 
                           decisiones diarias o comunes. Es importante recordarles a cada uno de ustedes que las decisiones que tomas
                           afectan a tu presente y a tu mañana, pero hoy aprendí que la oración que significa conversar con Dios afecta tu ayer, 
                           tu presente y tu mañana. Para entender mejor me pregunté, que haces en la oración para que pueda tal alcance, entonces
                           recordé que en la oración tienes la posibilidad de pedir perdón por las "malas" o erradas  acciones que hicimos frente 
                           a los ojos de Dios quién pide rectitud a cada uno de sus hijos, entonces entender que fuimos perdonado por nuestras faltas
                           nos hace sentir más en confianza con nosotros mismos y con más acercamiento Dios.
                    </p>
                    <p>Ahora bien, la prédica fue bastante nutritivo por los siguientes puntos que les resumiré y espero que puedan aplicarlo a 
                        su vida cotidiana sin la necesidad de ser cristianos o asistir a una iglesia para practicarlo y llevar
                        una vida más plena y en abundancia.
                    </p>
                    <h4>Cuándo no tomar decisiones</h4>
                    <p>Todos sabemos que las decisiones que tomamos modelan nuestra vida, nuestra forma de actuar y reaccionar frente a los cambios
                        o eventos que ocurren en el día a día. Por lo tanto, se recomienda NO tomar decisiones cuando uno se encuentre:
                    </p>
                    <h5>1. ENOJADO</h5>
                    <p>De acuerdo a la Real Academia Española (RAE) la palabra <b>enojo</b> significa: <em>Movimiento de ánimo que suscita
                        ira contra alguién.</em> Entonces no debemos tomar decisiones cuando nos encontremos enojados, ya que las decisiones
                        que tomemos estarán sesgados por la irá contra alguién y lo natural es que la irá nos conducirá a tomar decisiones
                        que dañen y afecten de forma injusta a alguién y/o a nosotros mismos.</p>
                        <p>Para reforzar este punto vamos a leer lo que dice la palabra de Dios en el libro 
                            de <a href="https://www.biblegateway.com/passage/?search=Proverbios+29%3A11&version=RVR1960" target="_blank">Proverbios 29:11:</a> 
                            <em>El necio da rienda suelta a toda su irá, Mas el sabio al fin la sosiega.</em> Por la tanto, si tomamos 
                            decisiones con enojado estaremos dando rienda suelta a nuestra irá, por lo que estamos siendo necios, imprudentes, 
                            mas no sabio como lo es nuestro padre.</p>
                    <h5>2. TRISTE</h5>
                    <p>De acuerdo a la RAE significa: <em>Afligido, apesadumbrado; de carácter o genio meláncolico.</em> Al tomar una decisión 
                    cuando nos encontremos triste podemos perder oportunidades favorables para nosotros o nuestra familia, ya que debido a la 
                    tristeza no vemos con optimismo el futuro y solo pensamos en el presente y por las circunstancias que estamos pasando.</p> 
                    <p>Para reforzar este punto vamos a leer lo que dice la palabra de Dios en el libro de 
                        <a href="https://www.biblegateway.com/passage/?search=Proverbios+15%3A15&version=RVR1960" target="_blank">Proverbios 15:15</a>
                        <em>Todos los días del afligido son difíciles; mas el de corazon contento tiene un banquete continuo.</em>Por lo tanto, 
                        si tomamos decisiones estándo tristes solo podemos hacer de nuestra vida más difícil que genere aún más tristeza.
                    </p>
                    <h5>3. CANSADO</h5>
                    <p>De acuerdo a la RAE significa: <em>Dicho de una cosa: Que declina (‖ decae).</em>Al tomar una decisión cuando nos encontremos
                    cansado en realidad estamos en poniendo en riesgo esa decisión, ya que no estamos al 100% de nuestra fuerza mental y voluntad; 
                    es mejor descansar para tomar una mejor decisión y con mayor lucidez</p>
                    <p>Para reforzar este punto vamos a leer lo que dice la palabra de Dios en el libro de 
                        <a href="">Job 10:1</a> <em>Está mi alma hastiada de mi vida; Daré libre curso a mi queja, Hablaré con amargura de mi alma.</em>
                        Por lo tanto, al estar cansados podemos tomar malas decisiones que pueden hacernos daño a nosotros como a otras personas. 
                    </p>
                    <h5>APURADO</h5>
                    <p>De acuerdo a la RAE significa: <em>Apresurado, con prisa.</em>Al tomar una decisión cuando nos encontremos apurado es porque 
                    no estamos considerando todas las posibilidad, las ventajas y/o desventajas que tendrá nuestra decisión. Recuerdo el dicho que 
                    dijo el Pastor: <kbd>"La prisa es la madre del error".</kbd>Por qué apurar una decisión tan importante para nuestra vida y la 
                    modelara nuestra existencia. Por lo tanto, se pide calma y paciencia en la toma de decisiones con una mente fría y tranquila</p>
                    <p>Para reforzar este punto vamos a leer lo que dice la palabra de Dios en el libro de 
                        <a href="https://www.biblegateway.com/passage/?search=proverbios+19%3A2&version=RVR1960">Proverbios 19:2</a><em>El alma sin 
                            ciencia no es buena, Y aque que se apresura con los pies, peca.</em>
                    </p>
                    <hr>
                    <p>Esta información es la interpretación de las enseñanzas del Pastor de la Iglesia, mas no son las palabras específicas 
                        del buen líder, por lo tanto, cualquier responsabilidad recae sobre mi persona.
                    </p>
                   
<p>Author: {{pieDePagina.autor}}.  Fecha: {{pieDePagina.fecha}}</p>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <!-- Si utilizamos componentes de Bootstrap que requieran Javascript agregar estos tres archivos -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>